* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1.25rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: hsl(27, 66%, 92%);
  font-family: "DM Sans", sans-serif;
  font-size: 18px; /* 400 - 700 */
}

.card {
  width: min(450px, 100%);
}

.card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: hsl(10, 79%, 65%);
  border-radius: 1rem;
  padding: 1.5rem;
  margin-bottom: 1.25rem;
}

.card__header div:first-child {
  color: white;
}

.card__header div:first-child p:first-child {
  margin: 0 0 0.25rem;
}

.card__header div:first-child p:last-child {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
}

.card__header div:last-child img {
  width: 100%;
}

.card__body {
  background: white;
  border-radius: 1rem 1rem 0 0;
  padding: 1.5rem;
}

.card__body h1 {
  margin: 0 0 1.5rem;
  font-size: 1.75rem;
  color: hsl(25, 47%, 15%);
}

.card__body .card__body__chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
  height: 280px;
  border-bottom: 1px solid rgba(147, 134, 123, 0.15);
  padding-bottom: 1.5rem;
}

.card__body .card__body__chart .day-chart {
  width: 40px;
  position: relative;
  cursor: pointer;
}

.card__body .card__body__chart .day-chart .amount {
  width: 55px;
  position: absolute;
  top: -40px;
  left: -7.5px;
  background: hsl(25, 47%, 15%);
  font-size: 0.75rem;
  font-weight: 700;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0;
}

.card__body .card__body__chart .day-chart:hover .amount {
  opacity: 1;
}

.card__body .card__body__chart .day-chart .chart {
  background: hsl(10, 79%, 65%);
  border-radius: 0.25rem;
  margin-bottom: 10px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  position: relative;
}

.card__body .card__body__chart .day-chart .chart.current-day {
  background: hsl(186, 34%, 60%);
}

.card__body .card__body__chart .day-chart .chart:hover {
  opacity: 0.8;
}

.card__body .card__body__chart .day-chart .day {
  display: block;
  text-align: center;
  height: 20px;
  font-size: 1rem;
  color: hsl(28, 10%, 53%);
}

.card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1.5rem 1.5rem;
  background: white;
  border-radius: 0 0 1rem 1rem;
}

.card__footer div:first-child p:first-child {
  color: hsl(28, 10%, 53%);
  font-size: 1rem;
  margin: 0;
}

.card__footer div:first-child p:last-child {
  color: hsl(25, 47%, 15%);
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
}

.card__footer div:last-child p:first-child {
  margin: 0;
  text-align: right;
  font-weight: 700;
  font-size: 1rem;
  color: hsl(25, 47%, 15%);
}

.card__footer div:last-child p:last-child {
  margin: 0 0 7px;
  color: hsl(28, 10%, 53%);
  font-size: 1rem;
}